/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --resalt-color: rgb(253, 76, 11);
  --card-color2: #e6e6e6;
  --title-color: #262626;
  --body-color: rgb(247, 247, 248);
  --text-color2: #595959;
  --button-color: hsl(0, 0%, 95%);
  --card-color: hsl(0, 0%, 90%);
  --container-color: #fff;
  --text-color: #565656;
}
body.darkTheme {
  --resalt-color: #902020;
  --card-color2: hsla(246, 16%, 5%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --body-color: hsl(249, 19%, 14%);
  --text-color2: hsl(0, 0%, 75%);
  --button-color: hsl(246, 16%, 12%);
  --container-color: hsl(246, 16%, 12%);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-color);
  overflow: hidden;
}
html{
  scroll-behavior: smooth;
}

/*Reutilizable*/
.center {
  max-width: 330px;
  margin: auto;
}
.btn-close {
  position: absolute;
  top: 1.1rem;
  right: 1.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: inherit;
  color: var(--title-color);
}
.modal{
  width: 40%;
  height: 40vh;
  position: fixed;
  top: 30vh;
  left: 30%;
  background-color: var(--resalt-color);
  display: none;flex-direction: column;justify-content: center;align-items: center;gap: 20px;
  border-radius: 20px;
  opacity: 0;
  transition: .4s;
}
.modal img{
  width: 200px;
}
.modal h2{
  color: var(--title-color);
}

/*Lader*/
#loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #fff;
  display: flex;justify-content: center;align-items: center;
  z-index: 999;
}
#loader img {
  width: 150px;
}

/*Barra nav*/
nav {
  width: 100%;
  display: flex;justify-content: center;
  position: fixed;
  z-index: 10;
}
.nav-scroll {
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
}
.nav-container {
  width: 100%;
  height: 56px;
  display: flex;justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 48px;
  height: 48px;
}
.logo {
  font-size: 1rem;
  color: var(--title-color);
  display: flex;
  align-items: center;
  font-weight: 800;
}
.menu-nav-icon {
  width: 100px;
  display: flex;justify-content: space-between;
  align-items: center;
}
.menu-nav-icon i {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--title-color);
}
.menu-nav-icon i:nth-child(2) {
  z-index: 11;
}
.menu-links {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: var(--container-color);
  padding: 96px 32px 56px;
  display: flex;justify-content: center;align-items: flex-start;
}
.menu-links ul li {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.menu-links a {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: .2s;
}
.menu-links ul li .active {
  color: var(--resalt-color);
  font-weight: 600;
}
.menu-cart {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: var(--container-color);
  padding: 96px 32px 56px;
  z-index: 12;
  display: flex;flex-direction: column;align-items: center;
  text-align: center;
}
.menu-cart-content {
  width: 100%;
  height: 60vh;
}
.cart-empty {
  width: 100%;
  height: 60vh;
  display: flex;flex-direction: column;justify-content: center;align-items: center;
}
.menu-cart h3 {
  color: var(--title-color);
  font-size: 1.25rem;
}
.cart-empty img {
  margin-bottom: 50px;
  width: 300px;
}
.cart-no-empty {
  width: 100%;
  height: 370px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  overflow-y: scroll;
}
.cart-element-select{
  display: flex;
}
.cart-element-img {
  margin: 20px 20px;
}
.cart-element-img img {
  width: 50px;
}
.cart-element-info {
  text-align: start;
  margin-left: 10px;
}
.cart-element-info h2 {
  font-size: 1rem;
  color: var(--title-color);
  margin-bottom: 5px;
}
.cart-element-info p {
  font-size: 13px;
}
.cart-element-info span {
  font-size: 13px;
  color: var(--resalt-color);
}
.cart-element-buttons {
  margin-top: 10px;
}
.cart-element-buttons span{
  margin: 0 10px;
}
.cart-element-info button {
  font-size: 1rem;
  padding: 2px 5px;
  background-color: inherit;
  border: none;
}
.cart-remove {
  margin: 20px 15px;
  font-size: 22px;
  color: #bc1d1d;
}
.total-cart{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finish-shop{
  background-color: inherit;
  color: var(--resalt-color);
  padding: 20px;
  border: 1px solid var(--resalt-color);
  transition: 0.4s;
}
.finish-shop:hover{
  background-color: var(--resalt-color);
  color: var(--card-color2);
}

/*Header*/
#Home {
  display: flex;flex-direction: column;justify-content: center;align-items: center;
  gap: 2.5rem;
}
/*Header img*/
.header-img {
  width: 16.2rem;
  height: 26.87rem;
  display: flex;justify-content: center;align-items: flex-end;
  background-color: var(--resalt-color);
  padding-bottom: 20px;
  align-self: flex-end;
  margin-right: -22px;
}
/*Header text*/
.header-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--title-color);
}
.header-text p {
  font-size: 15px;
  margin-bottom: 20px;
  color: var(--text-color2);
}
.header-text span {
  font-size: 20px;
  margin-bottom: 45px;
  color: var(--resalt-color);
}
.header-text-btn {
  display: flex;justify-content: flex-start;align-items: center;
}
.header-text-btn a {
  font-size: 15px;
  padding: 1rem 1.5rem;
  background-color: #bfbfbf;
  color: #595959;
  transition: .3s;
}
.header-text-btn a:hover{
  background-color: #595959;
  color: #fff;
}
.header-text-btn button {
  font-size: 15px;
  padding: 1.25rem 2rem;
  background-color: #2b2b2b;
  color: #fff;
  border: none;
  transition: .3s;
}
.header-text-btn button:hover{
  background-color: var(--resalt-color);
}

/*Main*/
main {
  width: 100%;
  padding: 112px 0;
}
/*Main links*/
main ul {
  display: grid;grid-template-columns: repeat(2, 1fr);gap: 1.5rem;
  text-align: center;
  margin-bottom: 56px;
}
main ul li {
  border-right: 0.5px solid #595959;
  cursor: pointer;
  color: var(--text-color2);
  transition: 0.3s;
}
main ul li:nth-child(4) {
  border: none;
}
main ul .active2 {
  color: var(--resalt-color);
  font-weight: 600;
}
main ul li:hover, .menu-links ul li a:hover{
  color: var(--resalt-color);
}
main ul h3 {
  font-size: 1rem;
  margin-bottom: 6px;
}
main ul span {
  font-size: 13px;
}
/*Main products*/
.products-buy {
  display: grid;grid-template-columns: 200px;justify-content: center;
}
.product-img {
  display: flex;justify-content: center;align-items: center;
  height: 180px;
  background-color: var(--card-color2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px 0;
}
.product-img img {
  width: 140px;
  height: 140px;
  transition: all 0.3s ease;
}
.product-img img:hover {
  margin-bottom: 30px;
}
.product-info {
  width: 200px;
  height: 78px;
  padding: 16px 0 20px 16px;
  display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--container-color);
}
.product-info h2 {
  color: var(--title-color);
  font-size: 20px;
}
.product-info span {
  color: var(--text-color2);
  font-size: 13px;
  border-left: 1px solid #595959;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 0 0 0 5px;
}
.product-info p {
  color: var(--title-color);
  font-size: 15px;
}
#add-cart {
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  position: relative;
  bottom: 110px;
  left: 140px;
  border: none;
  box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
  transition: all 0.2s ease-in;
  background-color: var(--button-color);
  color: var(--title-color);
}
#add-cart:hover {
  background-color: var(--resalt-color);
  color: var(--body-color);
}

/*Footer*/
footer {
  width: 100%;
  background-color: var(--container-color);
}
.footer-info {
  padding: 104px 0 3rem;
  display: flex;flex-direction: column;justify-content: center;align-items: flex-start;
  gap: 24px;
}
.footer-info div ul {
  display: flex;flex-direction: column;
  gap: 0.75rem;
}
.footer-info div:nth-child(4) ul {
  flex-direction: row;
}
.footer-info div:nth-child(4) ul li a {
  font-size: 20px;
}
.footer-info div h3 {
  margin-bottom: 24px;
  font-size: 20px;
  color: var(--title-color);
}
.footer-info div ul li a {
  color: var(--text-color2);
  font-size: 1rem;
}
.footer {
  display: flex;justify-content: center;align-items: center;
  width: 100%;
  height: 74px;
  border-top: 2px solid white;
}

/*Responsive*/
@media (min-width: 768px) {
  .center {
    max-width: 720px;
  }
  /*Nav*/
  nav {
    height: 80px;
  }
  .menu-nav-icon {
    justify-content: flex-end;
  }
  .menu-nav-icon i {
    margin-right: 15px;
  }
  .menu-nav-icon i:nth-child(3) {
    display: none;
  }
  .menu-cart {
    width: 60%;
  }
  .menu-links {
    width: auto;
    height: auto;
    position: static;
    background-color: inherit;
    margin-right: 0;
    padding: 0;
    margin-left: -180px;
  }
  .menu-links ul {
    display: flex;
  }
  .menu-links ul li {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .menu-links ul li a {
    font-size: 15px;
  }
  .menu-links button {
    display: none;
  }
  /*Header*/
  #Home {
    flex-direction: row-reverse;
  }
  /*Header img*/
  .header-img {
    width: 740px;
    margin-right: -24px;
  }
  /*Header text*/
  .header-text {
    margin-top: 130px;
  }
  /*Main*/
  main {
    padding: 180px 0 112px;
  }
  /*Main links*/
  main ul {
    grid-template-columns: repeat(4, 1fr);
  }
  /*Main products*/
  .products-buy {
    grid-template-columns: 200px 200px;
    gap: 3rem;
  }
  /*Footer*/
  footer {
    width: 100%;
  }
  .footer-info {
    padding: 104px 0 3rem;
    display: flex;flex-direction: row;justify-content: space-between;align-items: flex-start;
    gap: 24px;
  }
  .footer-info div ul {
    display: flex;flex-direction: column;
    gap: 0.75rem;
  }
  .footer-info div:nth-child(4) ul {
    flex-direction: row;
  }
  .footer-info div:nth-child(4) ul li a {
    font-size: 20px;
  }
  .footer-info div h3 {
    margin-bottom: 24px;
    font-size: 20px;
  }
  .footer-info div ul li a {
    font-size: 1rem;
  }
  .footer {
    display: flex;justify-content: center;align-items: center;
    width: 100%;
    height: 74px;
    border-top: 1px solid white;
  }
}
@media (min-width: 1024px) {
  .center {
    max-width: 1024px;
    margin: auto;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--body-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--resalt-color);
  }
  /*Nav*/
  .menu-links {
    margin-left: -550px;
  }
  .menu-cart {
    width: 30%;
  }
  /*Header*/
  /*Header img*/
  .header-img {
    height: 97vh;
    margin-right: -30px;
  }
  .header-img img {
    width: 400px;
    height: 500px;
  }
  /*Header text*/
  .header-text {
    margin-top: 70px;
  }
  .header-text h1 {
    font-size: 3rem;
  }
  .header-text span {
    font-size: 25px;
  }
  /*Main*/
  main {
    padding: 140px 0 112px;
  }
  /*Main products*/
  .products-buy {
    grid-template-columns: 280px 280px 280px;
  }
  .product-img {
    height: 250px;
  }
  .product-info {
    width: 280px;
  }
  .product-info h2 {
    font-size: 25px;
  }
  .product-info span {
    font-size: 16px;
  }
  .product-info p {
    font-size: 20px;
  }
  #add-cart {
    font-size: 25px;
    padding: 15px 20px;
    position: relative;
    bottom: 110px;
    left: 200px;
  }
}
